<%# old page
<div class="max-w-lg m-auto px-4">
%>
<%# 
  <h1 class="text-3xl mt-10">Schedule a new session</h1>
  <p class="text-lg text-grey-darker mb-6">Schedule a new consulting session by choosing the best time that works for you below.</p>
%>

  <%#= render 'form', meeting: @meeting %>
<%# 
</div>
%>

<div class="order">
<!--    -->
    <div class="product-details app" >
      <div class="cover">
        <img src="https://s5.postimg.cc/9z4aqltuv/cover.jpg" alt="cover" class="cover-image">
        <i class="fa fa-youtube-play"></i>
        <span class="title">
          cloudy with the chance of meatballs(2009)
          <span> 1hr 30mins, 7.4 IMDB, Animation Fantasy/Comedy </span>
       </span>
      </div>

      <div class="story">
        <p>&nbsp;</p>
        <span class="title">
          Description
        </span>
        <div class="story-icon">
          <i class="fa fa-play"></i>
        </div>
        <div class="story-text">
          Flint Lockwood is an inventor who develops insignificant things. 
          However, when his local sardine cannery shuts down and ..
        </div>
      </div>
  </div>
<!--      -->
<!--  -->
  <form method="post" action="#" class="order-form">
<!--  -->
    <div class="calendar">
        <main id="calendar">
          <div class="calendar-header">
            {{firstDayOfMonth.format('MMMM')}}
          </div>
          <div class="calendar-left-container">
            <button class="previous-month"  @click="changeMonth(-1)">
              <span class="arrow">&nbsp;</span>
            </button>  
          </div>
          <div class="calendar-right-container">
            <button class="next-month" @click="changeMonth(1)">
              <span class="arrow">&nbsp;</span>
            </button>
          </div>
          <div class="calendar-inner-container">
            <div class="weekday"
                 v-for="(dayname, index) in weekdays"
            >
              {{dayname}}
            </div>
            <button v-for="(day, index) in daysOfMonth"
                 @click="selectDay(day)"
                 :style="{ gridColumn: column(index)}"
                 :class="{ today: today(day), selected: isSelected(day) }"
            >
              {{day.format('D')}}
            </button>
          </div>
        </main>
    </div>
    
    <div class="form-group timezone">
        <label class="label">What is your timezone?</label>
        <select name="timezone" id="timezone" class="select-css select-font timezone form-input">
          <option value="GMT">Greenwich Mean Time</option>
          <option value="ET">Hawaii-Aleutian Time</option>
          <option value="ET">Pacific Time</option>
          <option value="ET">Mountain Time</option>
          <option value="ET">Central Time</option>
          <option value="ET">Eastern Time</option>
        </select>
    </div>
    <div class="form-group start-time">
            <div class="start-time label">
        <label class="label">
          Pick an available time:
        </label>
      </div>
      <select name="start-time" id="start-time" 
              class="select-css select-font start-time form-input">
        <option value="1000">10:00 am - 11:30 pm</option>
        <option value="1200">12:00 pm - 01:30 pm</option>
        <option value="1500">03:00 pm - 04:30 pm</option>
      </select>

    </div>

   <div class="form-group connect-thru">
      <h4>How do you want to connect?</h4>
      <div>
        <div class="connect-thru-choice">
          <input type="radio" name="choice-connection" 
                 id="choice-connection-phone" required>
          <label for="choice-connection-phone">Telephone</label>

          <div class="reveal-if-active">
            <label for="which-phone">Ok, what's a good number?</label>
            <input type="text" id="which-phone" 
                   name="which-phone" 
                   class="require-if-active" 
                   data-require-pair="#choice-connection-phone">
          </div>
        </div>

        <div class="connect-thru-choice">
          <input type="radio" name="choice-connection" 
                 id="choice-connection-skype">
          <label for="choice-connection-skype">Skype</label>

          <div class="reveal-if-active">
            <label for="which-skype">
              OK, let's meet online. What is your Skype ID?
            </label>
            <input type="text" id="which-skype" name="which-skype" 
                   class="require-if-active" 
                   data-require-pair="#choice-connection-skype">
          </div>
        </div>

        <div class="connect-thru-choice">
          <input type="radio" name="choice-connection" id="choice-connection-discord">
          <label for="choice-connection-discord">Discord</label>

          <div class="reveal-if-active">
            <label for="which-discord">
              OK, let's meet online.  What is your Discord handle?
            </label>
            <input type="text" id="which-discord" name="which-discord" 
                   class="require-if-active" 
                   data-require-pair="#choice-connection-discord">
          </div>
        </div>
      </div>
   </div>
    <div class="form-group notification-email">
      <label class="label">
        Appointment message email:
      </label>
      <input type="text" id="email" name="email" 
             placeholder= "john@seeker.com" 
             class="notification-email-input text-input">
    </div>

    <div class="payment-details form-group">
      <label class="label">How do you want to pay?</label>
      <div class="cc-details">
        <p class="form-label-subtitle">
          Enter a credit card or debit card
        </p>
        <input type="text" id="card-number" 
               name="card-number" placeholder= "2424-2425-2424-2425" 
               class="payment-details-cc-input text-input"  
               maxlength="20" size="20">
        <input type="text" id="month-year" 
               name="month-year" placeholder= "MM/YY" 
               class="payment-details-month-year-input text-input"  
               maxlength="6" size="6">
        <input type="text" id="ccv" 
               name="ccv" placeholder= "CCV" 
               class="payment-details-ccv-input text-input"  
               maxlength="4" size="4">
      </div>
    </div>
    
</div>

  </form>
</div>

<script>
window.onload = function() {
  init();
  doSomethingElse();
};
// pet stuff
// var FormStuff = {
  
//   init: function() {
//     this.applyConditionalRequired();
//     this.bindUIActions();
//   },
  
//   bindUIActions: function() {
//     $("input[type='radio'], input[type='checkbox']").on("change", this.applyConditionalRequired);
//   },
  
//   applyConditionalRequired: function() {
  	
//     $(".require-if-active").each(function() {
//       var el = $(this);
//       if ($(el.data("require-pair")).is(":checked")) {
//         el.prop("required", true);
//       } else {
//         el.prop("required", false);
//       }
//     });
    
//   }
  
// };

// FormStuff.init();

// calendar
// Set moment for ISO-8601, Europe
moment.updateLocale('en', { week: {
  dow: 1, // First day of week is Monday
  doy: 4  // First week of year must contain 4 January (7 + 1 - 4)
}});

// Start the magic with Vue
const app = new Vue({
  el: '#calendar',
  data() {
    return {
      weekdays:moment.weekdaysShort(true),
      firstDayOfMonth: moment().startOf('month'),
      selectedDay: undefined
    }
  },
  computed: {
    daysOfMonth(){
   return [...Array(this.firstDayOfMonth.daysInMonth())].map((_, i) => {
      return this.firstDayOfMonth.clone().add(i, 'day')
    })
    }
  },
  methods:{
    column(index) {
      if(index === 0) {
        return this.daysOfMonth[0].weekday() + 1
      }
    },
    today(day){
      return moment().isSame(day, 'day')
    },
    selectDay(day){
      this.selectedDay = day
    },
    isSelected(day){
      return moment(this.selectedDay).isSame(day, 'day')
    },
    changeMonth(step){
      this.firstDayOfMonth = this.firstDayOfMonth.clone().add(step, 'M') 
    }
  }
})
</script>

