<div class="page-header">
  <%= link_to consult_orders_path(@consult), class: 'btn btn-default' do %>
    All Orders
  <% end %>
  <%= link_to edit_order_path(@order), class: 'btn btn-primary' do %>
    Edit
  <% end %>
  <h1>Show order</h1>
</div>

<dl class="dl-horizontal">
  <dt>Cents:</dt>
  <dd><%= @order.cents %></dd>

  <dt>Consult:</dt>
  <dd><%= @consult.title %></dd>


</dl>
