<svg xmlns="http://www.w3.org/2000/svg" 
    xmlns:xlink="http://www.w3.org/1999/xlink" 
    viewBox="0 0 90.13 91.24" class="avatar">
  <title>Credits: <a href='https://www.freepik.com/vectors/people'>People vector created by studiogstock - www.freepik.com</a></title>

  <defs>
    <style>
      .cls-81 {
        fill: #f6d9a1;
      }

      .cls-82 {
        clip-path: url(#clip-path);
      }

      .cls-83 {
        fill: #293033;
      }

      .cls-84 {
        fill: #dca678;
      }

      .cls-85 {
        fill: #442928;
      }

      .cls-86 {
        fill: #f8ba8c;
      }
    </style>
    <clipPath id="clip-path">
      <path class="cls-81" d="M90.13,45.07A45.07,45.07,0,1,1,45.07,0,45.05,45.05,0,0,1,90.13,45.07Z"/>
    </clipPath>
  </defs>
  <g id="Layer_2" data-name="Layer 2">
    <g id="Layer_1-2" data-name="Layer 1">
      <g>
        <path class="cls-81" d="M90.13,45.07A45.07,45.07,0,1,1,45.07,0,45.05,45.05,0,0,1,90.13,45.07Z"/>
        <g class="cls-82">
          <g>
            <path class="cls-83" d="M70,71.41C67.2,67.88,44.78,60.13,44.78,60.13s-22,8.57-25.25,11.28S15,91.24,15,91.24H73.92S72.86,74.94,70,71.41Z"/>
            <path class="cls-84" d="M51.73,64.27s-.86,4.16-6.95,4.16-6.94-4.16-6.94-4.16a9.25,9.25,0,0,0,0-7.31c-1.69-4,16-4.75,13.89,0S51.73,64.27,51.73,64.27Z"/>
            <path class="cls-85" d="M59.28,48.67c.44-5.92,4.2-14.46,4.2-14.46,5.35-12-.2-30-10.57-24.45C40.08-2,19.79,14.43,26.65,34c0,0,3.26,7.94,3.58,13.81S41.07,65.42,44.45,65.61,58.84,54.59,59.28,48.67Z"/>
            <path class="cls-86" d="M64.4,37.63c0,3.13-2.22,7.44-3.72,7.44S58,42.53,58,39.39a6.75,6.75,0,0,1,2.71-5.67C62.13,32.59,64.4,33.72,64.4,37.63Z"/>
            <path class="cls-86" d="M25.6,37.63c0,3.13,2.22,7.44,3.72,7.44S32,42.53,32,39.39a6.72,6.72,0,0,0-2.71-5.67C27.87,32.59,25.6,33.72,25.6,37.63Z"/>
            <path class="cls-86" d="M45.07,12.79c-10.53,0-15.18,7.38-15.18,18.38V44.94c0,9.58,11.07,17.77,14.56,17.77s15.79-9.58,15.79-18.65V31.17C60.24,20.17,55.59,12.79,45.07,12.79Z"/>
            <path class="cls-85" d="M60.24,39l.95-8c0-11-5.6-19.19-16.12-19.19S28.82,21.17,28.82,32.17l1.07,8.61A5.88,5.88,0,0,0,32.27,36c-.25-7.06,3.44-8.1,9.2-9.2,9.08-1.73,11.63-7.18,11.63-7.18s3,1,4.87,5.45c1.23,2.86-.37,6-.47,7.78S60.24,39,60.24,39Z"/>
            <path class="cls-85" d="M46.05,57a12.08,12.08,0,0,1-3.19,0c1.7,2.62,0,6.32,0,6.32h3.19A8.57,8.57,0,0,1,46.05,57Z"/>
          </g>
        </g>
      </g>
    </g>
  </g>
</svg>
