<svg xmlns="http://www.w3.org/2000/svg" 
  xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 90.25 91.37"
   class="avatar"
  >
  <title>Credits: <a href='https://www.freepik.com/vectors/people'>People vector created by studiogstock - www.freepik.com</a></title>

  <defs>
    <style>
      .cls-1 {
        fill: #ad9ccb;
      }

      .cls-2 {
        clip-path: url(#clip-path);
      }

      .cls-3 {
        fill: #e5332a;
      }

      .cls-4 {
        fill: #153c37;
      }

      .cls-5 {
        fill: #dca678;
      }

      .cls-6 {
        fill: #f8ba8c;
      }
    </style>
    <clipPath id="clip-path">
      <path class="cls-1" d="M90.25,45.13A45.13,45.13,0,1,1,45.13,0,45.12,45.12,0,0,1,90.25,45.13Z"/>
    </clipPath>
  </defs>
  <g id="Layer_2" data-name="Layer 2">
    <g id="Layer_1-2" data-name="Layer 1">
      <g>
        <path class="cls-1" d="M90.25,45.13A45.13,45.13,0,1,1,45.13,0,45.12,45.12,0,0,1,90.25,45.13Z"/>
        <g class="cls-2">
          <g>
            <path class="cls-3" d="M62.3,49.42c.44-5.93,1.17-15.17,1.17-15.17,5.35-12-3.24-29.47-10.58-24.47C45-.71,18.64,11,26.59,34.09A73.29,73.29,0,0,1,25.54,49c-2,10.24-5.58,21.3-2.26,23.84,4.67,3.57,39,4,41.11,1.3C67.79,69.81,61.86,55.35,62.3,49.42Z"/>
            <path class="cls-4" d="M70,71.51C67.19,68,44.74,60.21,44.74,60.21s-22,8.59-25.28,11.3-4.55,19.86-4.55,19.86h59S72.86,75.05,70,71.51Z"/>
            <path class="cls-5" d="M51.7,64.35s-.86,4.17-7,4.17-7-4.17-7-4.17a9.27,9.27,0,0,0,0-7.32c-1.7-4,16-4.75,13.9,0S51.7,64.35,51.7,64.35Z"/>
            <path class="cls-6" d="M64.39,37.68c0,3.14-2.22,7.45-3.72,7.45S58,42.58,58,39.45a6.73,6.73,0,0,1,2.72-5.68C62.12,32.63,64.39,33.77,64.39,37.68Z"/>
            <path class="cls-6" d="M25.54,37.68c0,3.14,2.23,7.45,3.72,7.45S32,42.58,32,39.45a6.73,6.73,0,0,0-2.72-5.68C27.81,32.63,25.54,33.77,25.54,37.68Z"/>
            <path class="cls-6" d="M45,12.81c-10.54,0-15.2,7.38-15.2,18.4V45c0,9.59,11.09,17.8,14.59,17.8s15.81-9.6,15.81-18.68V31.21C60.23,20.19,55.57,12.81,45,12.81Z"/>
            <path class="cls-3" d="M60.23,39.07l.44-5.72c2.3-11.14-5-21.91-15.54-21.91S26.42,23.19,29.24,34.33l.59,6.5A7.79,7.79,0,0,0,32.21,36c.28-2.36,1.19-11.91,1.19-11.91l1.15,5.63,12.71.84,2.18-4.46.87,4.66,4,.27L57,23.26s.37,6.78,1.17,11.88C58.63,38.34,60.23,39.07,60.23,39.07Z"/>
          </g>
        </g>
      </g>
    </g>
  </g>
</svg>
