// Place all the styles related to the backstage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


// $navbar-default-bg: #312312;
// $light-orange: #ff8c00;
// $navbar-default-color: $light-orange;

@import "font-awesome-sprockets";
@import "font-awesome";
@import "bootstrap";
@import "jumpstart/sticky-footer";
@import "jumpstart/announcements";
@import "./actiontext.scss";
@import "./direct_uploads.scss";

@import "simple_calendar";

@import "meetings";
@import "orders";
// Fixes bootstrap nav-brand container overlap
@include media-breakpoint-down(xs) {
  .container {
    margin-left: 0;
    margin-right: 0;
  }
}

// Masquerade alert shouldn't have a bottom margin
body > .alert {
  margin-bottom: 0;
}

.grid-main {
    display: grid;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    grid-template-areas: 
      "navbar-main navbar-main navbar-main navbar-side"
      "main        main        main        aside";
}

.navbar-brand {
  margin-right: 5rem;
}

.navbar-main {
    grid-area: navbar-main;
    display: flex;
    background: green;
  }
  
  .navbar-side {
    grid-area: navbar-side;
    background: #fafaff;
  }
  
  .top-right-rounded {
    border-top-right-radius: 25px;
  }

  main {
    grid-area: main;
    min-height: 300px;
  }
  
  aside {
    grid-area: aside;
    background: #fafaff; 
  }

.this-year-summary {
    background: grey;
    margin: 5px;
    border-radius: 10%;
    width: 130px;
    height: 130px;
}

.bookings-count {
  background: #9088d2;
}

.client-count {
  background: #f89380;
}

.big-number {
  font-size: 3rem;
  font-weight: 500;
}
.flex {
    display:flex;
}

.avatar {
    min-height: 100%;
}

.a-booking {
    min-width: 50%;
}

.a-booking .title {
    
}
.participants {
    display: grid;
    position: relative;
    grid-template-columns: repeat(4, 1fr);
}

.participants .addl-count {
    background-color: #ddd;
    border: none;
    color: black;
    padding: 4px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 2px 4px;
    cursor: pointer;
    border-radius: 50%;    
}

.a-booking .time-slot {

}

.a-booking .tags span {
    background-color: #ddd;
    border: none;
    color: black;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 2px 1px;
    cursor: pointer;
    border-radius: 8px;    
}

.left-and-right {
    display: grid;
    grid-template-columns: 100px 1fr 90px;
}

// fancy underline navigation bar
.partial-border {
  position: relative;
  display: inline-block;
}
.partial-border:before {
  content: '';
  border-bottom: 1px solid #e0e1f3;
  position: absolute;
  width: 80%;
  left: 10%;
  bottom: 0;
}

// main nav
.active {
  color: #593eff !important;
}

.nav-item a {
	display: block;
	padding: 0.5rem 1rem;
}