// Place all the styles related to the backstage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


// $navbar-default-bg: #312312;
// $light-orange: #ff8c00;
// $navbar-default-color: $light-orange;
@import "fullcalendar";

@import "font-awesome-sprockets";
@import "font-awesome";
@import "bootstrap";
@import "jumpstart/sticky-footer";
@import "jumpstart/announcements";
@import "./actiontext.scss";
@import "./direct_uploads.scss";

@import "simple_calendar";

// Fixes bootstrap nav-brand container overlap
@include media-breakpoint-down(xs) {
  .container {
    margin-left: 0;
    margin-right: 0;
  }
}

// Masquerade alert shouldn't have a bottom margin
body > .alert {
  margin-bottom: 0;
}

.grid-main {
    display: grid;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    grid-template-areas: 
      "navbar-main navbar-main navbar-main            navbar-side"
      "main        main        main                   aside";      
}

main {
  grid-area: main;
  min-height: 300px;
}

aside {
  grid-area: aside;
  background: #fafaff; 
}

.grid-index {
  display: grid;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-areas: 
  "heading         heading              heading"
  "summary         promotional          presently"
  "summary         promotional          presently"
  "active-bookings  active-bookings   active-bookings";      

  .heading {
    grid-area: heading;

  
  }
}

.grid-bookings-index {
  display: grid;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-areas: 
  "heading         heading              heading"
  "summary         promotional          presently"
  "summary         promotional          presently"
  "active-bookings  active-bookings   active-bookings";      

  .heading {
    grid-area: heading;
  }
}
.summary {
  grid-area: summary;

  a {
    text-decoration: none;
    color: currentColor;
  }
}
.promotional {
  grid-area: promotional;
}
.promotional img {
  max-width: 100%;
}

.presently {
  grid-area: presently;
  display: flex;
  flex-direction: column;

  .earnings {
    max-height: 67%;
  }

  .earnings img {
    height: 67%;
  }

  .current-meetings img {
    height: 33%;
  }

  img {
    max-width: 100%;
  }
}

.active-bookings {
  grid-area: active-bookings;
  min-height: 300px;

}


.navbar-brand {
  margin-right: 5rem;
}

.navbar-main {
    grid-area: navbar-main;
    display: flex;
    background: green;
  }
  
  .navbar-side {
    grid-area: navbar-side;
    background: #fafaff;
  }
  
  .top-right-rounded {
    border-top-right-radius: 25px;
  }


.this-year-summary {
    background: grey;
    margin: 5px;
    border-radius: 10%;
    width: 130px;
    height: 130px;
}

.bookings-count {
  background: #9088d2;
}

.client-count {
  background: #f89380;
}

.big-number {
  font-size: 3rem;
  font-weight: 500;
}
.flex {
    display:flex;
}

.avatar {
    min-height: 100%;
}

.a-booking {
    min-width: 50%;
}

.a-booking .title {
    
}
.participants {
    display: grid;
    position: relative;
    grid-template-columns: repeat(4, 1fr);
}

.participants .addl-count {
    background-color: #ddd;
    border: none;
    color: black;
    padding: 4px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 2px 4px;
    cursor: pointer;
    border-radius: 50%;    
}

.a-booking .time-slot {

}

.a-booking .tags span {
    background-color: #ddd;
    border: none;
    color: black;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 2px 1px;
    cursor: pointer;
    border-radius: 8px;    
}

.left-and-right {
    display: grid;
    grid-template-columns: 100px 1fr 90px;
}

// fancy underline navigation bar
.partial-border {
  position: relative;
  display: inline-block;
}
.partial-border:before {
  content: '';
  border-bottom: 1px solid #e0e1f3;
  position: absolute;
  width: 80%;
  left: 10%;
  bottom: 0;
}

// main nav
.active {
  color: #593eff !important;
}

.nav-item a {
	display: block;
	padding: 0.5rem 1rem;
}

.heading-and-link {
  display: grid;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-areas: 
    "heading heading link";

  .heading {
    grid-area: heading;
  }

  .link {
    grid-area: link;
    margin-top: auto;
    margin-left: auto;

    font-size: 1.5rem;

    a {
      text-decoration: none;
      color: currentColor;
    }
  }
}

// simple_calendar styles
.backstage, bookings {
  .simple-calendar {
    a {
      color: currentColor;

    }

    ul {
      list-style: none;
    }

    .day {
      height: 40px;
      a {
        font-size: 0.75rem;
        display:inline-block;
        width:100%;
        height:100%;    
      }

      a:link { text-decoration: none; }
      a:visited { text-decoration: none; }
      a:hover { text-decoration: none; }
      a:active { text-decoration: none; }
    }

    .wday-name {
      color: #b8b6bf;
    }
    .wday-0 {
    }
    .wday-1 {}
    .wday-2 {}
    .wday-3 {}
    .wday-4 {}
    .wday-5 {}
    .wday-6 {}

    
    .current-month {
      background: #f8f7fe;
    }
    .today {
      background: #9088d2;
      a {
        color: white;
      }
    }
    .past {}
    .future {}

    .start-date {
      background: #f89380;
    }


    }
  .prev-month {
    color: #b8b6bf;
    background: #f8f7fe;
  }
  .next-month {
    color: #b8b6bf;
    background: #f8f7fe;
  }
  .current-month {}

  .has-events {}

  .booking-slots {
    display: flex;
    flex-wrap: wrap;
  }

  .booked-spot {
    background:chocolate;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    margin: 1px;
    
    }

  .spot {
      width: 5px;
      height: 5px;
      background: currentColor;
      // border-radius: 50%
  }

}

  // calendar headings
  .calendar-heading {
    display: flex;

    .links a {
      color: currentColor;
      font-size: 36px;
      margin-left: auto;
      margin-top: auto;
    }

    .calendar-title {
      margin: auto auto auto 0;
      font-weight: bolder;
    }
  }

  // day calendar
.show-day {
  .start-date {
  background: #f8f7fe;
  }

  .meetings {
    li {
      display: flex;
    }

    i {
      margin: 10px 10px 10px 0px;
    }
    div {
      margin: 10px 10px 10px 0px;
    }
    .time-block {
      margin-left: auto
    }
  
  }


}
