<%# start calendar %>
  <% if current_user %>
    <% @meeting_rooms.each do |room| %>
      <%= month_calendar events: room.schedule.next_occurrences(30) do |date, slots| %>
        <%#= date.day %>
          <%= link_to date.day, backstage_bookings_path(:start_date=> date) %>

            <div class="booking-slots">
              <% slots.each do |slot| %>
                <%# not available==booked %>
                  <div data-date="<%= slot.to_formatted_s(:short) %>">
                    <% if !room.check_availability time: slot, amount: 1 %>
                      <div class='booked-spot'>
                      </div>
                      <% end %>
                  </div>
                  <% end %>
            </div>

            <% end %>
              <% end %>
                <% else %>
                  <h1>It's Meeting Time! </h1>
                  <h2>Welcome to MeetingTime for Unicorn-Apartments</h2>
                  <div id='centered'>
                    <p>This is where the cleaning magic happens - book the meeting room online and save precious dream
                      time!
                      <br> If you don't have an account, you can sign up with your email - and soon enough your clothes
                      will
                      smell of fresh rainbows.
                      <br>Having problems with the site? Email our system admin at unicorn_boss@rainbows.now
                    </p>
                  </div>
                  <%= image_tag('unicorn.png', align: 'middle' , height: 300, class: 'image' ) %>
                    <% end %>
                      <%# example calendar with categories <img
                        src="https://p248.p4.n0.cdn.getcloudapp.com/items/bLugNLXw/70614568-552f-4654-b34c-ef53127b8f17.png?v=5bcafcef8e0a95ecf5a87c796d53a20b"
                        alt="bookings at a glance" style="width: 300px;"> %>